<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'trangchu/phim.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div id="header">
        <h1>Cartoon 247</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#" title="Tom and jerry">Tom and jerry</a></li>
            <li><a href="#" title="Dragon">Dragon</a></li>
            <li><a href="#" title="Conan">Conan</a></li>
            <li><a href="#" title="Naruto">Naruto</a></li>
            <li><a href="#" title="Naruto">Chip and Dane</a></li>
        </ul>
        <button>Tìm kiếm</button>
        <input type="search" placeholder="Search...">
    </div>
    <div id="banner">
        <img src='http://localhost:18080/media/pngtree-cute-pet-supplies-cartoon-cute-e-commerce-banner-image_178545.jpg' alt=''>
    </div>
    <div id="main">
        <div id="left">
            <ul>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
                <li>
                <img src='http://localhost:18080/media/1.jpg' alt=''>
                <h2>gahgdkákdká ágdjkạkdgạk kjghsạkdgjksạkdgkág</h2>
                hgạksgjkfgạkgfjákjgfjksakahjsklhdkláhlkhdfsahkdfh
                </li>
            </ul>
        </div>
        <div id="content">content</div>
        <div id="right">
            <div class="menu_right">
                <h3>Danh mục</h3>
                <ul>
                    <li><a href="#" title="Tin tức">Tin tức</a></li>
                    <li><a href="#" title="Bóng đá">Bóng đá</a></li>
                    <li><a href="#" title="Luật pháp">Luật pháp</a></li>
                    <li><a href="#" title="Tin nóng">Tin nóng</a></li>
                    <li><a href="#" title="Thế giới">Thế giới</a></li>
                    <li><a href="#" title="Giải trí">Giải trí</a></li>
                    <li><a href="#" title="Diễn viên">Diễn viên</a></li>
                </ul>
            </div>
            <img src='http://localhost:18080/media/5.jpg' alt=''> 
        </div>   
    </div>
    <div id="footer">footer</div>


</body>
</html>