<!DOCTYPE HTML>
<html lang='en'>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dangnhap/style.css' %}">
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title>MYPAGE</title>
</head>
<body>
    <div class="login">
    <header>
        <h1>CRTOON 24/7</h1>
        <p>Xem hoạt hình thả ga cùng với CARTOON 24/7 nào</p>
    </header>
        <nav>
            <ul>
                <li><a href='#link'>TRANG CHỦ</a></li>
                <li><a href='#link'>GIỚI THIỆU</a></li>
                <li><a href='#link'>TIN TỨC</a></li>
            </ul>
        </nav>
        <section>
            <article>
                <h2> HTML là gì?</h2>
                <p>
                    "Thật khó nói về bản thân", Nadal trả lời khi được hỏi về cảm giác thống trị Roland Garros với 14 danh hiệu sau 18 lần dự giải. "Tôi luôn tâm niệm bản thân là người bình thường. Vì vậy, nếu tôi làm được điều gì đó thì người khác cũng có thể làm được. 22 Grand Slam chắc chắn là điều ai đó có thể chạm tới và vượt qua. Tôi khá chắc điều này sẽ xảy ra. Còn kỷ lục 14 Roland Garros thì khó hơn nhiều, gần như là không thể. Đó là may mắn của tôi".
                </p>
            </article>
            <article>
                <h2>Làm sao dể chơi ?</h2>
                <p>
                    "Thật khó nói về bản thân", Nadal trả lời khi được hỏi về cảm giác thống trị Roland Garros với 14 danh hiệu sau 18 lần dự giải. "Tôi luôn tâm niệm bản thân là người bình thường. Vì vậy, nếu tôi làm được điều gì đó thì người khác cũng có thể làm được. 22 Grand Slam chắc chắn là điều ai đó có thể chạm tới và vượt qua. Tôi khá chắc điều này sẽ xảy ra. Còn kỷ lục 14 Roland Garros thì khó hơn nhiều, gần như là không thể. Đó là may mắn của tôi".
                </p>
                <h3>
                    1.Một số phần mềm hỗ trọ
                </h3>
                <p>
                    Roland Garros với 14 danh hiệu sau 18 lần dự giải. "Tôi luôn tâm niệm bản thân là người bình thường. Vì vậy, nếu tôi làm được điều gì đó thì người khác cũng 
                </p>
                <ol>
                    <li>Phần mềm 1</li>
                    <li>Phần mềm 2</li>
                    <li>Phần mềm 3</li>
                </ol>
                <h3>2.Cài dặt</h3>
                <p>
                    Truy cập vào <a href='#link'>thaikk/jkj.com</a> 
                </p>
            </article>
        </section>
    {% for item in pm %}
            <h2>{{item.title}}</h2>
            <p><img src='{{item.image.url}}' alt=''></p>
            <p>{{item.body}}</p>
            <video width="320" height="240" autoplay="autoplay" controls="controls" preload="preload">
                <source src="{{item.video.url}}" type="video/mp4"></source>
            </video>
        {%  endfor %}
        <footer>
            <p>
                Mypage $ copy;2021
            </p>
        </footer>
    </div>
</body>