.login{
    width: 900px;
    min-height: 100vh;
    boder: 1px solid grey;
    boder-radius: 10px;
    margin: 0px auto;
    background: #12b3b3;
    text-align: center;
}
h2{
    color:#1283e6;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0px;
}
.login input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0.5px solid #9ea1a3;
    padding-left: 8px;
    background-color: #f7f7f7;
    display: inline-block;
    outline-width: 1px;
}
.login button{
    width: 416px;
    height: 43px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px solid #f5f4f5;
    background-color: #1283e6;
    color: white;
    display: inline-block;
    font-size: 20px;
}
}
.login button:hover{
    font-size: 15px;
}
h3{
    color: #6ba3d1;
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
    padding-right: 500px;
    padding-top: 200px;
    font-weight: 300;
}
p{
    color: #757475;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
}
