*{
    margin: 0px;
    padding: 0px;
}
@keyframes fadeIn {
    0% {
        transform:scale(0,0);
        visibility:visible;
        opacity:0;
    }
     100% {
        transform:scale(1,1);
        visibility:visible;
        opacity:1;
    }
}
body{
    width: 1000px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}
#vdbg{
    width: 677px;
    min-height: 419px;
    margin: 0px auto;
    overflow: hidden;
}
#vdbg video{
    min-width: 677px;
    min-height: 419px;
    position: absolute;
    margin: -21px 0px 0px -339px;
    display: inline-block;
    text-align: center;

}
#vdbg #login{
    width: 550px;
    min-height: 279px;
    boder: 1px solid grey;
    boder-radius: 10px;
    margin: 0px 0px 0px -275px;
    background: #242626;
    text-align: center;
    display: inline-block;
    position: absolute;
    visibility:hidden;
    animation: fadeIn 3s forwards 3s;
}
h2{
    color:#FFD700   ;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0.5px solid #9ea1a3;
    padding-left: 8px;
    background-color: #f7f7f7;
    display: inline-block;
    outline-width: 1px;
}
#login button{
    width: 416px;
    height: 43px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px solid #f5f4f5;
    background-color: #1283e6;
    color: #FFD700;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
#login button b a{
    text-decoration: none;
}
#login button:hover{
    font-size: 15px;
}
h3{
    color: #6ba3d1;
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
    padding-right: 2px;
    padding-top: 21px;
    font-weight: 300;
    margin-bottom: 10px;
}
p{
    color: #FFD700;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
}
#footer{
    width: 500px;
    min-height: 40px;
    background: #000000;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
